@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
.header {
  background: url("../src/images/desktop/image-header.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.main-title {
  margin-top: 100px;
  color: white;
}
.title {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: hsl(0, 0%, 100%);
}
.main-title h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 60px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 8px;
}
.main-title {
  position: relative;
}
.arrow {
  position: absolute;
  left: 48%;
  bottom: -220px;
}
.links {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}
.contact {
  background-color: white;
  color: hsl(167, 40%, 24%) !important;
  padding: 10px 30px;
  border-radius: 30px;
}
.contact:hover {
  background-color: #a3ddfc;
  color: hsl(0, 0%, 100%) !important;
  padding: 10px 30px;
  border-radius: 30px;
}
.main,
.part,
.image {
  height: 70vh;
}
.content h1 {
  font-family: "Fraunces", serif;
}
.content p {
  color: hsl(210, 4%, 67%);
  font-weight: 400;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details h3 {
  font-family: "Fraunces", serif !important;
  color: hsl(167, 40%, 24%);
}
.details p {
  color: hsl(213, 9%, 39%);
  font-weight: 400;
}
.link {
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif !important;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.link-border-red {
  border-radius: 50%;
  width: 25%;
  text-align: center;
}
.link-border-red:hover {
  border-bottom: 10px solid hsl(7, 99%, 70%);
}
.link-border-yellow {
  border-radius: 50%;
  width: 35%;
  text-align: center;
}
.link-border-yellow:hover {
  border-bottom: 10px solid hsl(51, 100%, 49%);
}
.size {
  width: 70px;
}
.main-t {
  font-family: "Fraunces", serif !important;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  margin-top: 90px;
}
.p-text {
  color: hsl(213, 9%, 39%);
  font-weight: 500;
  font-size: 18px;
  width: 90%;
}
.grey {
  color: hsl(210, 4%, 67%);
}
.title-footer {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: hsl(167, 38%, 33%);
}
.bg-green {
  background-color: #85CDBF;
}
.icon {
padding: 20px;
cursor: pointer;
}
.icon:hover{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(103%) contrast(102%);
}
.color-change{
  color: hsl(167, 45%, 40%) !important;
  font-size: 19px !important;
}
.color-change:hover{
  color: hsl(0, 0%, 100%) !important;
}
.mobile {
  display: none !important;
}
.desktop {
  display: flex !important;
}
.header-mobile {
display: none;
}
.layout-mobile {
  display: none;
}
@media (max-width: 430px) {

  .header-mobile {
    width: 100vw !important;
    display: block;
  }
  .links {
    display: none;
  }
  .main-title h1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 40px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 8px;
    text-align: center;
  }
  .pictures {
    display: flex;
    flex-direction: column;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .column {
    flex-direction: column;
    margin: auto;
  }
  .layout {
    display: none !important;
  }
  .p-text {
    width: 100%;
  }
 
  .title-mobile {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-size: 25px;
      color: hsl(0, 0%, 100%);
    }
  
  .hamburger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 5px;
  }
  .data {
    top: 30px;
  }
  .active {
    display: none;
  }
  .links-mobile {
    top: 100px !important;
    position: absolute;
    width: 90%;
  }
  .links-mobile a{
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: hsl(210, 4%, 67%);
    padding-bottom: 20px;
  }
  .contact-mobile {
    font-family: "Fraunces", serif !important;
    color: hsl(213, 9%, 39%) !important;
    font-weight: 900;
    font-size: 20px;
    background-color: hsl(51, 100%, 49%) ;
  }
  .cover-img{
    height: 80vh;
  }
  .main-title-mobile {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-title-mobile h1{
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
  }
  .layout-mobile {
    display: block;
  }
  .image-mobi{
    width: 100%;
  }
  .page-width {
    width: 100%;
  }
  .footer{
    width: 100%;
  }
  .w-90{
    width: 97%;
  }
  .footer-links{
    display: flex;
    justify-content: space-around !important;
  }
  .footer-links a{
    text-decoration: none;
    font-size: 24px !important;
    font-weight: 600;
  }
  .pr{
    padding-right: 25px;
  }
}